
#viewport , #tempcanvas{
  position: absolute;
  top: 50px;
  left: 80px;
}
.jsp-maincanvas{
  height: 500px;
}

header div {
  padding: 10px;
  height: 100px;
}

header div a {
  margin-top: 20px;
}

.file-div{
position: relative;
padding-top: 10px;

}
.file-div label{
  position: absolute;
  top:20px;
  left:0px;
}
.file-div input{
  position: absolute;
  top:20px;
  left:0px;
}

#fileUpload{
  display:None;
}
